{include="header"}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
        <span class="glyphicon glyphicon-refresh"></span>
      </a>
      <a class="btn btn-sm btn-default" href="{$fsc->url_caja()}">
        <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Cajas
      </a>
      <div class="btn-group">
        {loop="$fsc->extensions"}
        {if="$value->type=='button'"}
        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
        {/if}
        {/loop}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Lista de Recibos en la Caja {$fsc->getCaja()->id}</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-left">Código</th>
          <th class="text-left">Cliente</th>
          <th class="text-left">Forma de Pago</th>
          <th class="text-right">Total</th>
          <th class="text-right">Fecha</th>
          <th class="text-right">Vencimiento</th>
        </tr>
      </thead>
      <tbody>
      {loop="$fsc->getPagos()"}
        {if="$value->getReciboCliente()"}
        <tr>
          <td><a href="{$value->getReciboCliente()->url()}">{$value->getReciboCliente()->codigo}</a></td>
          <td>
            {$value->getReciboCliente()->nombrecliente}
          </td>
          <td>{$value->getReciboCliente()->getFormaPago()}</td>
          <td class="text-right">{$fsc->show_precio($value->getReciboCliente()->importe)}</td>
          <td class="text-right">
            {if="$value->getReciboCliente()->fecha==$fsc->today()"}<b>{$value->getReciboCliente()->fecha}</b>{else}{$value->getReciboCliente()->fecha}{/if}
          </td>
          <td class="text-right">{$value->getReciboCliente()->fechav}</td>
        </tr>
        {else}
        <tr>
          <td><a href="{$value->getFactura()->url()}">{$value->getFactura()->codigo}</a></td>
          <td>
            {$value->getFactura()->nombrecliente}
          </td>
          <td>{$value->getFactura()->getFormaPago()}</td>
          <td class="text-right">{$fsc->show_precio($value->getFactura()->total)}</td>
          <td class="text-right">
            {if="$value->getFactura()->fecha==$fsc->today()"}<b>{$value->getFactura()->fecha}</b>{else}{$value->getFactura()->fecha}{/if}
          </td>
          <td class="text-right">--</td>
        </tr>
        {/if}
      {else}
        <tr class="bg-warning">
          <td class="text-center" colspan="6">Ningun recibo encontrado.</td>
        </tr>
      {/loop}
      </tbody>
    </table>
  </div>
  <hr />
  <div class="row">
    {loop="$fsc->getFormaPago()->all()"}
    <p>Total {$value->descripcion}: {$fsc->getTotal($value)}</p>
    {/loop}
  </div>
</div>

  {include="footer"}